.signup__container {
  @apply flex justify-center items-center h-screen w-screen lg:w-[1058px] md:ml-5  bg-indigo-900;
}
.signup__main {
  @apply flex flex-col justify-center items-center  w-96 h-[500px]   rounded;
}
.form {
  @apply w-full h-full px-10;
}
.form h2 {
  @apply mt-10;
}
.form div {
  @apply w-full mt-4;
}
.form input {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @apply w-full outline-none border-none px-4 py-3 rounded-xl text-white;
}
.form input::placeholder {
  @apply text-white tracking-widest;
}

.form button {
  background: white;
  transition: all 0.2s;
  @apply w-24 cursor-pointer text-blue-500 font-bold mt-3 outline-none border-none px-2 py-2 rounded-lg;
}
.form button:hover {
  @apply bg-indigo-500 text-white;
}

@media (max-width: 700px) {
  .signup__main {
    @apply m-3 p-3 rounded-xl;
  }
}
